extends body

block content
	p Welcome to #{title}
	a(href='/list') New List

	#lists
		div.topcoat-list__container
			ul.topcoat-list
			- each list in lists
				li.topcoat-list__item
					a(href="/list/"+list._id.toHexString())= list.title