extends body

block content
	ul
	- each item in list.items
		li 
			a(href="/list/" + list._id.toHexString() + "/item/" + item._id.toHexString())= item.content
	form( method="post" )
		div
			input( type="hidden", name="_id", value=list._id.toHexString())
			label(for="content") New: 
			input(type="text", name="content", autofocus="autofocus")
		div
			input(type="submit", value="Add")