extends body

block content
	form( method="post" )
		div
			div
				input.topcoat-text-input(type="text", name="title", placeholder="list name", autofocus="autofocus")
				button.topcoat-button--cta(type="submit") create