extends body

block content
	h1= title
	form( method="post" )
		div
			div
				span Title :
				input(type="text", name="title", autofocus="autofocus")
			div
				input(type="submit", value="Create")


	a(href='/') &lt; back