extends skeleton

block body
	body
		div.topcoat-navigation-bar
			div.topcoat-navigation-bar__item.center.full
				h1.topcoat-navigation-bar__title= title

		div
			- if (typeof(message) !== 'undefined') {
				h3= message
			-}
		form.login( method="post" )
			div
				div
					input.topcoat-text-input.full(type="text", autocapitalize="off", autocorrect="off", name="user[name]", autofocus="autofocus", placeholder="username")
				div
					input.topcoat-text-input.full(type="password", name="user[password]", placeholder="password")
				div
					button.topcoat-button--cta(type="submit") login