extends body

block content
	form( method="post" )
		div
			input.topcoat-text-input(type="email", name="emailOrUsername", placeholder="email or username", autofocus="autofocus")
			button.topcoat-button--cta(type="submit") share