doctype 5
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title= title
		link(rel='stylesheet', href='/stylesheets/topcoat-mobile-light.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block headextra
	block body