a
	text-decoration: none
	color: #000

.topcoat-list__item
	padding: 0
	list-style: none

.topcoat-list__item a
	display: block
	padding: 1.25rem


.topcoat-button--cta
	margin-left: 5px
	margin-top: 4px

form.login
	max-width: 19.375em /* 310 / 16 */